<section id="AstronomyAndAstrophysicsToolsMultiPageComponent">
  <button id="back-button" type="button" (click)="goBack()" id="back-button">
    ← Back
  </button>

  <h1>{{ extractToolName(URL) }}</h1>

  <form [formGroup]="Form" (ngSubmit)="onSubmit()">
    <ng-container *ngFor="let control of Form.controls | keyvalue">
      <input
        [formControlName]="control.key"
        [placeholder]="control.key | titlecase"
        type="number"
      />
    </ng-container>
    <input type="submit" value="Submit" [disabled]="Form.invalid || Loading" />
  </form>

  <div class="DataArea">
    <p *ngIf="Loading">Loading...</p>
    <p *ngIf="Error">{{ Error }}</p>

    <div id="data" *ngIf="Data && !Loading">
      <div id="dataDiv" *ngFor="let item of getDataEntries()">
        <strong>{{ item.key }}:</strong>
        <p>{{ item.value }}</p>
      </div>
    </div>
  </div>
</section>
