<section id="jwt-token-decoder">
  <button id="back-button" type="button" (click)="goBack()" id="back-button">
    ← Back
  </button>

  <form [formGroup]="Form" class="jwt-form" (ngSubmit)="onSubmit()">
    <label for="token">Paste JWT here:</label>
    <textarea
      id="token"
      formControlName="token"
      rows="5"
      placeholder="e.g.: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
    ></textarea>

    <input
      type="submit"
      value="submit"
      [disabled]="FormLoading || Form.invalid"
    />
  </form>

  <div class="dataArea">
    <div *ngIf="ErrorMessage" class="error">
      <p>{{ ErrorMessage }}</p>
    </div>

    <div *ngIf="FormLoading">
      <p>Decoding....</p>
    </div>

    <div *ngIf="DecodedPayload" class="result">
      <h3>Decoded Payload:</h3>
      <div class="json-container">
        <button type="button" class="copy-btn" (click)="copyPayload()">
          Copy JSON
        </button>
        <code class="json-code">{{ DecodedPayload | json }}</code>
      </div>
    </div>
  </div>
</section>
