<nav>
  <h1 [routerLink]="['/']">WebToolz</h1>

  <button class="nav-text-btn" id="tools-link" [routerLink]="['/Tools']">
    Tools
  </button>

  <button class="nav-text-btn" [routerLink]="['/Pricing']">Pricing</button>

  <button class="nav-text-btn" [routerLink]="['/FAQs']">FAQs</button>

  <div class="auth-section">
    <ng-container *ngIf="!Auth; else profileBtn">
      <button id="get-started-btn">Get Started</button>
    </ng-container>
    <ng-template #profileBtn>
      <button class="nav-text-btn" id="profile-link">Profile</button>
    </ng-template>
  </div>
</nav>
