<section id="ImageToBase64Converter">
  <form id="form">
    <input
      type="file"
      id="fileInput"
      accept="image/*"
      formControlName="file"
      (change)="onFileSelected($event)"
    />
  </form>

  <p *ngIf="FormLoading">loading...</p>

  <div class="preview" *ngIf="Base64String">
    <h3>Preview:</h3>
    <img [src]="Base64String" alt="Image Preview" />

    <h3>Base64 String:</h3>
    <textarea readonly rows="8" [value]="Base64String"></textarea>
    <button (click)="copyToClipboard()" id="copy-btn">Copy</button>
  </div>
</section>
